@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header{
  position: relative;
}
#formInput{
  position: absolute;
  background-color: white;
  height: 60%;
  width: 20%;
  z-index: 2;
  right: 15%;
  bottom: 20%;
  border-radius: 2%;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labelA{
  font-family: "Montserrat", serif;
  margin: 1rem;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bolder;
}
.containerCards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 100%;
  gap: 2rem;
  margin: 1rem auto;
}

.containerCard {
  display: flex;
  flex: 1 1 300px;
  flex-direction: row;
  border: 0.2rem solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  min-width: 280px;
  max-width: 350px;
}

.imageAreaCard {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #d7e3ff;
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.containerCard img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}
.textAreaCard {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.4;
  text-align: left;
  flex: 1;
}

.containerCard span {
  word-wrap: break-word;
  word-break: break-word; 
  font-family: "Quicksand", sans-serif;
}

.containerCard b {
  font-weight: bold;
}

